*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 1200px;
    margin: auto;
    height: 750px;
/*     border: 1px solid black; */
    position: relative;
}

body{
    background-color: #add8e6;
}

h1{
    text-align: center;
    color: white;
    font-size: 90px;
    font-family: 'Nerko One', cursive;
    
}

footer{
    color: black;
    text-align: center;
    font-family: 'Nerko One', cursive;
    font-size: 30px;
}

.card{
    width: 200px;
    height: 225px;
    border-radius: 1rem;
    background-color: white;
    position: absolute;
}

.cruiseship{
    right: 0;
}

.tractor{
    left: 350px;
}

.submarine{
    right: 350px;
}

.tram_secondrow{
    bottom: 275px;
}

.tractor_secondrow{
    left: 350px;
    bottom: 275px;
}

.submarine_secondrow{
    right: 350px;
    bottom: 275px;
}

.cruiseship_secondrow{
    right: 0;
    bottom: 275px;
}

.tram_thirdrow{
    bottom: 0;
}

.tractor_thirdrow{
    left: 350px;
    bottom: 0;
}

.submarine_thirdrow{
    right: 350px;
    bottom: 0;
}

.cruiseship_thirdrow{
    right: 0;
    bottom: 0;
}